<!-- <app-account></app-account>
<div class="row" style="padding: 5% 0 0 40%;">
    <h3 >Personal Info</h3>
</div>
<div class="row" style="padding: 0 0 0 40%;">
    <label>Name</label>
</div>
<div class="row" style="padding: 0 0 0 40%;">
    <input type="text">
</div>

<div class="row" style="padding: 0 0 0 40%;">
<label>E-mail</label>
</div>
<div class="row" style="padding: 0 0 0 40%;">
<input type="email" placeholder="E-mail" required #email [class.is-invalid]="email.invalid && email.touched"
class="form"name="email" >



<br>
</div>-->
<app-account></app-account>
<div class="row" style="padding: 5% 0 0 40%;">
    <h3>Personal Info</h3>
</div>
<div class="row" style="padding: 1% 0 0 39%;">
   <div class="col-2">
   <h5>Name</h5>
</div>
<div class="col-10">
   <p style="color:rgb(77, 230, 77);cursor: pointer;">Edit</p>
</div>
</div>
<div class="row" style="padding: 0 0 0 40%;">
   <input name="name" type="text" disabled>
</div>
<div class="row" style="padding: 2% 0 0 39%;">
   <div class="col-2">
   <h5>E-mail</h5>
   </div>
   <div class="col-10">
       <p style="color:rgb(77, 230, 77);cursor: pointer;" >Edit</p>
   </div>
</div>
<div class="row" style="padding: 0 0 0 40%;">
   
   <input name="name" type="text" disabled>
</div>

