<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  
<div class="icon">
    <a href="#" class="facebook"> <i class="fa fa-facebook"></i>facebook</a> 
    <a href="#" class="twitter"><i class="fa fa-twitter"></i>twitter</a> 
    <a href="#" class="google"><i class="fa fa-google"></i>google</a> 
    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i>linkedin</a>
</div>
<div class="container mt-5 " style="padding-top: 30px;">
<div class="row ">
        <div class="col-lg-6   contentmove">
            <blockquote class="blockquote text-right  float-left">
                <p class="mx-auto font-weight-bolder logo font2">
                    A New Era Of Technology
                    Cameup With Old & Sustainable Values
                    have Same Delicious Food <br>With Organic Values.
                </p>
                <footer class="blockquote-footer ">Words from a <cite title="Source Title font-weight-bold">Country Man</cite></footer>
                <button class="btn mt-4 btn-logo font1" >Learn More</button>
            </blockquote>
        </div>    
        <div class="col-lg-6 ">
            <img src="../../assets/logo modified.jpg" alt="" class="rounded float-right   mt-5" width="400px" height="400px">
        </div>
</div>
  
   
</div>


<!-- from now it is compartment for at a gun shot details -->

<div class="container mt-5 cardmove">
<div class="row cardmove px-3">
            <!-- card 1 -->

            <div class="card cardb mx-1 my-1 col-md-4 col-sm " style="border: none;">
                <img src="../../assets/familybuy.jpg" style="height: 240px;" class="card-img-top cardsall" alt="...">
                <div class="card-body">
                <h5 class="card-title font2" style="color: rgb(114, 7, 7);">Diversity In selection</h5>
                <p class="card-text font"  style="color: rgb(6, 3, 44);">A wide variety of Organic items are available.</p>
                </div>
            </div>
            <!-- card 2 -->

            <div class="card cardb mx-1 my-1 col-md-3.95 col-sm" style="border: none">
                <img src="../../assets/famers-day.png" style="height: 240px;" class="card-img-top cardsall" alt="...">
                <div class="card-body">
                <h5 class="card-title font2" style="color: rgb(8, 110, 8);">Celebrate Famers Day</h5>
                <p class="card-text font"  style="color: rgb(6, 3, 44);">We celebrate this day via various options.</p>
                </div>
            </div>
            <!-- card 3 -->

            <div class="card cardb mx-1 my-1 col-md-4 col-sm" style="border: none">
                <img src="../../assets/farmers1.jpg" style="height: 240px;"class="card-img-top cardsall" alt="...">
                <div class="card-body">
                <h5 class="card-title font2" style="color: rgb(112, 75, 5);">Planet Sale</h5>
                <p class="card-text font" style="color: rgb(6, 3, 44);">Waiting is over planet sale has been arrived.</p>
                </div>
            </div>

</div>
</div>

<!-- categories section -->


<div class="container  mt-5">
    <div class="h3 font3" style="color: rgb(102, 7, 78); margin-left: 10%;">Shop By Category
        <hr style= "  width: 80%; align-items:left;height:1.75px;background-color: rgba(0, 0, 0);margin-top: -2px;">
</div>
</div>

<div class="container my-5">
   <div class="row rowc categories mx-3">
            <div class="card cardc col-lg-3 col-md-4  col-sm-6  catcolor1">
                <div class="card-body text-center">
                <h5 class="card-title font2">Dry Fruits</h5>
                <p class="card-text font1">Raisin,Berry,Dates,Kiwi</p>
                <a href="#" class="card-link snap font2">Shop Now</a>
                </div>
            </div>
            <div class="card col-lg-3 col-md-4  col-sm-6 cardc  catcolor2">
                <div class="card-body text-center">
                <h5 class="card-title font2">Body Care</h5>
                <p class="card-text font1">Oils,Tonics,supplimets,Honey</p>
                <a href="#" class="card-link snap font2">Shop Now</a>
                </div>
            </div>
            <div class="card col-lg-3 col-md-4  col-sm-6 cardc catcolor3">
                <div class="card-body text-center">
                <h5 class="card-title font2">Beverages</h5>
                <p class="card-text font1">Coffee,Tea,Health Drinks(from fruits and vegetables)</p>
                <a href="#" class="card-link snap font2">Shop Now</a>
                </div>
            </div>
                <div class="card col-lg-3 col-md-4  col-sm-6  cardc catcolor4">
                    <div class="card-body text-center">
                    <h5 class="card-title font2">Immunity Booster</h5>
                    <p class="card-text font1">chyawanprash,Sarasvati Gyan</p>
                    <a href="#" class="card-link snap font2">Shop Now</a>
                    </div>
                </div>

  
            <div class="card col-lg-3 col-md-4  col-sm-6  catcolor5 cardc " >
                <div class="card-body text-center">
                <h5 class="card-title font2">Home Decoration</h5>
                <p class="card-text font1">Kichen&Dinning,Garden&Outdoors,Living room</p>
                <a href="#" class="card-link snap font2">Shop Now</a>
                </div>
            </div>
            <div class="card col-lg-3 col-md-4  col-sm-6  cardc catcolor6" >
                <div class="card-body text-center">
                <h5 class="card-title font2">Home Care</h5>
                <p class="card-text font1">Pooja,Fragrance,Household Essentials</p>
                <a href="#" class="card-link snap font2">Shop Now</a>
                </div>
            </div>
            <div class="card col-lg-3 col-md-4  col-sm-6 catcolor7 cardc " >
                <div class="card-body text-center">
                <h5 class="card-title font2">Food</h5>
                <p class="card-text font1">Snacks,Deserts,Gourment Food</p>
                <a href="#" class="card-link snap font2">Shop Now</a>
                </div>
            </div>
                <div class="card col-lg-3 col-md-4  col-sm-6 cardc catcolor8" >
                    <div class="card-body text-center">
                    <h5 class="card-title font2">Vegitables and Fruits</h5>
                    <p class="card-text font1">All your home need vegatables</p>
                    <a href="#" class="card-link snap font2">Shop Now</a>
                    </div>
                </div>
</div>
</div>
<div class="container  mt-5">
    <div class="h3 font3" style="color: rgb(102, 7, 78); margin-left: 10%;">Our Featured Products
        <hr style= "  width: 80%; align-items:left;height:1.75px;background-color: rgba(0, 0, 0);margin-top: -2px;">

</div>
</div>

 <div class="container xyz my-5" >
    <div class="row pls mx-3 ml-xs-2 mr-xs-2" >
     <div class="col-lg-3 col-md-6 col-sm-12 col-12 p-2 card card__one" style="background-color: rgb(247, 206, 146);" *ngFor="let x of popular;let i=index">
       
      <button class="likebtn">36K<i class="fa fa-heart"></i></button>
    
      <br>
       <img src="{{x.img}}"  class="pic" style="height: 145px;">
       <div class="car ">
        <h5 class="font2">{{x.name}}/<b>{{x.quant}}</b></h5>
        <h5 class="font2">Price:<b class="font1">Rs.{{x.cost}}/-</b></h5>
         <h5 class="font2">MRP:<b class="font1">Rs.{{x.originalcost}}/-</b></h5>

         <div class="but" >
              
         <button class="dbtn2"  (click)="senddata(i)"  style="cursor: pointer;">{{x.carbutton}}<i class="fa fa-cart-plus"></i></button>
         <button class="dbtn1" (click)="details(i)" routerLink="/proDetails" style="cursor: pointer;">View <i class="fa fa-eye"></i></button>

        </div>
       </div>
       </div>
     </div>
     
         </div>
  
     
<!-- showing our wide spreads -->


<div class="container  mt-5">
    <div class="h3 font3" style="color: rgb(102, 7, 78); margin-left: 10%;text-align: inline;">About Company Users
        <hr style= "  width: 80%; align-items:left;height:1.75px;background-color: rgba(0, 0, 0);margin-top: -2px;">
    </div>


<!-- <button (click)="timer()" class="btn text-center  font1" style="margin-left: 80%;  margin-top:-20px;background-color: rgba(102, 9, 79, 0.596);" >And adding</button> -->
</div>

<div class="container mt-5">
    <div class="row mx-5">
            <div class="card mx-1 my-1 col-md-4 col-sm bginfo" >
                <div class="card-body text-center">
                <h5 class="card-title">{{customerscount}}+</h5>
                <p class="card-text">Hetroginous Product</p>
                </div>
            </div>
            <div class="vl"></div>
            <div class="card mx-1 col-md-3.95 col-sm bginfo my-1" >
                <div class="card-body text-center">
                <h5 class="card-title">{{customerscount}}+</h5>
                <p class="card-text">Passionate Sellers</p>
                </div>
            </div>
            <div class="vl"></div>
            <div class="card col-md-4 col-sm bginfo mx-1 my-1" >
                <div class="card-body text-center">
                <h5 class="card-title">{{customerscount}}+</h5>
                <p class="card-text">Families Employeed</p>
                </div>
            </div>
    </div>
</div>

<!-- buy by brand  -->


<div class="container  mt-5">
    <div class="h3 font3" style="color: rgb(102, 7, 78); margin-left: 10%;">Shop By Places

        <hr style= "  width: 80%; align-items:left;height:1.75px;background-color: rgba(0, 0, 0);margin-top: -2px;">
    </div>
</div>



<div class="container my-5 ">
    <div class="row rowc  categories mx-3 font5">
             <div class="card col-lg-3 col-md-4  col-sm-6  place1" style="border: none;">
                 <div class="card-body text-center">
                 <h5 class="card-title">Hyderabad</h5>
                 </div>
             </div>
             <div class="card col-lg-3 col-md-4  col-sm-6 place2  " style="border: none;">
                 <div class="card-body text-center">
                 <h5 class="card-title">Delhi</h5>
                 </div>
             </div>
             <div class="card col-lg-3 col-md-4  col-sm-6 place3" style="border: none;">
                 <div class="card-body text-center">
                 <h5 class="card-title">Shimla</h5>
                 </div>
             </div>
                 <div class="card col-lg-3 col-md-4  col-sm-6  place4" style="border: none;">
                     <div class="card-body text-center">
                     <h5 class="card-title">Bengaluru</h5>
                     </div>
                 </div>
 
   
             <div class="card col-lg-3 col-md-4  col-sm-6 place5  " style="border: none;">
                 <div class="card-body text-center">
                 <h5 class="card-title">Mumbai</h5>
                 </div>
             </div>
             <div class="card col-lg-3 col-md-4  col-sm-6 place6  " style="border: none;">
                 <div class="card-body text-center">
                 <h5 class="card-title">Jaipur</h5>
                 </div>
             </div>
             <div class="card col-lg-3 col-md-4  col-sm-6 place7  " style="border: none;">
                 <div class="card-body text-center">
                 <h5 class="card-title">Srinagar</h5>
                 </div>
             </div>
                 <div class="card col-lg-3 col-md-4  col-sm-6 place8 " style="border: none;">
                     <div class="card-body text-center">
                     <h5 class="card-title">And More..</h5>
                     </div>
                 </div>
 </div>
 </div>
 
  
<div class="x">
 
<hr size="40" class="my-4">

<!-- news letter and conclusion -->

<div class="container my-5">
    <form class="form-inline">
        <input class="form-control mr-sm-2 font" type="email" placeholder="Enter email For Updates" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/login" style="background-color: rgb(138, 241, 138);color: black;border-radius: 4px;border-color: rgb(138, 241, 138);">Sign In</button>
      </form>
</div>


<!-- learn aout us -->

<div class="containern mt-3 subscribe">
    <div class="h4 ml-5 font2">Want to Know about us More</div>
    <a class="btn knowmore ml-5 font1" routerLink="/about" (click)="testMe()" >What are you waiting for</a>
</div>




<div class="container mt-5">
    <div class="row">
            <div class="card  col-sm-4 borderline">
                <div class="card-body text-left">
                <h6 class="card-title font2" >Get us More :</h6>
                <p class="card-text font1">Our Company</p>
                <p class="card-text font1">Digital Mueseum</p>
                <p class="card-text font1">Our Suppliers</p>
                <p class="card-text font1">Sell On Countryman.com</p>
                <p class="card-text font1">Advertice with us</p>
                <p class="card-text font1">Careers</p>
                </div>
            </div>
            <div class="card  col-sm-4 borderline" >
                <div class="card-body text-left">
                <h6 class="card-title font2">Countryman Services:</h6>
                <p class="card-text font1">Grocey Pickup & Delivert</p>
                <p class="card-text font1">Countryman farmo-benefits</p>
                <p class="card-text font1">Countryman Customer cares</p>
                <p class="card-text font1">CallCenter</p>
                <p class="card-text font1">Weekly Ad</p>
                <p class="card-text font1">Other Services</p>
                </div>
            </div>
            <div class="card  col-sm-4 borderline" >
                <div class="card-body text-left">
                <h6 class="card-title font2" >Our Custodies:</h6>
                <p class="card-text font1">Countryman Labs</p>
                <p class="card-text font1">Terms of Use</p>
                <p class="card-text font1">Privacy & Security</p>
                <p class="card-text font1">CA Privacy Rights</p>
                <p class="card-text font1">Donot sell my personal information</p>
                <p class="card-text font1">Request My personal Information</p>
                </div>
            </div>

    </div>
</div>

<!-- ending -->

<hr class="mt-2 mb-2" size="200">

<div class="container">
    <div class="row">
        <p class="mt-1 col-lg-6 font">© 2020 Countryman. All Rights Reserved.</p>
        <p class="moving col-lg-6 font">To ensure we are able to help you as best we can, please include your reference number: QASJ6UMV7Q</p>
    </div>
</div>
</div>