<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="icon-bar">
    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a> 
    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> 
    <a href="#" class="google"><i class="fa fa-google"></i></a> 
    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
    <!-- <a href="#" class="youtube"><i class="fa fa-instagram"></i></a>  -->
  </div>
<div class="container">
<div class="row">
 
        <div class="col-6 contentmove">
            <blockquote class="blockquote text-right  float-left">
                <p class="mx-auto font-weight-bolder logo ">
                    A New era of technology
                    came up with old and sustainable values
                    have same delicious food with organic values 
    
                </p>
                <footer class="blockquote-footer">Words from a <cite title="Source Title font-weight-bold">Country Man</cite></footer>
                <button class="btn mt-4 btn-logo" >Learn More</button>
            </blockquote>
        </div>    

        <div class="col-6">
            <img src="../../assets/logo modified.jpg" alt="" class="rounded float-right mr-5 mt-4" width="400px" height="400px">
        </div>
</div>
    <!-- <div class="col">
        <div class="samerow mt-5">
            <img src="../../assets/instagram-logo.png" alt="" class="samesize">
            <img src="../../assets/LinkedIn-128.webp" alt="" class="samesize">
            <img src="../../assets/facebook-official-512.webp" alt="" class="samesize">
            <img src="../../assets/twittter.png" alt="" class="samesize">
        </div>
    </div> -->
   
</div>


<!-- from now it is compartment for at a gun shot details -->

<div class="container mt-5 cardmove">
<div class="row cardmove">
            <!-- card 1 -->

            <div class="card  mx-4 mt-5 col" style="width: 30rem;">
                <img src="../../assets/familybuy.jpg" class="card-img-top cardsall" alt="...">
                <div class="card-body">
                <h5 class="card-title">Diversity In selection</h5>
                <p class="card-text">A wide variety of Organic items are available</p>
                </div>
            </div>
            <!-- card 2 -->

            <div class="card  mx-4 mt-5 col" style="width: 30rem;">
                <img src="../../assets/famers-day.png" class="card-img-top cardsall" alt="...">
                <div class="card-body">
                <h5 class="card-title">Celebrate Famers Day</h5>
                <p class="card-text">We had been celebrating this day through various options</p>
                </div>
            </div>
            <!-- card 3 -->

            <div class="card  mx-4 mt-5 col" style="width: 30rem;">
                <img src="../../assets/farmers1.jpg" class="card-img-top cardsall" alt="...">
                <div class="card-body">
                <h5 class="card-title">Planet Sale</h5>
                <p class="card-text">Wait is over planet sale has arrived</p>
                </div>
            </div>

</div>
</div>

<!-- categories section -->

<hr size="40" class="mt-5">

<div class="container text-center mt-4">
    <div class="h3 font3">Shop By Category</div>
</div>

<div class="container my-5">
   <div class="col categories">
            <div class="card row-3 mx-2 catcolor1" style="width: 18rem;">
                <div class="card-body text-center">
                <h5 class="card-title">Dry Fruits</h5>
                <p class="card-text">Raisin,Berry,Dates,Kiwi</p>
                <a href="#" class="card-link snap">Shop Now</a>
                </div>
            </div>
            <div class="card row-3 mx-2 catcolor2" style="width: 18rem;">
                <div class="card-body text-center">
                <h5 class="card-title">Body Care</h5>
                <p class="card-text">Oils,Tonics,supplimets,Honey</p>
                <a href="#" class="card-link snap">Shop Now</a>
                </div>
            </div>
            <div class="card row-3 mx-2 catcolor3" style="width: 18rem;">
                <div class="card-body text-center">
                <h5 class="card-title">Beverages</h5>
                <p class="card-text">Coffee,Tea,Health Drinks(from fruits and vegetables)</p>
                <a href="#" class="card-link snap">Shop Now</a>
                </div>
            </div>
                <div class="card row-3 mx-2 catcolor4" style="width: 18rem;">
                    <div class="card-body text-center">
                    <h5 class="card-title">Immunity Booster</h5>
                    <p class="card-text">chyawanprash,Sarasvati Gyan</p>
                    <a href="#" class="card-link snap">Shop Now</a>
                    </div>
                </div>

   </div>
   <!-- second line of categories -->
   <div class="col categories mt-3">
            <div class="card row-3 mx-2 catcolor5" style="width: 18rem;">
                <div class="card-body text-center">
                <h5 class="card-title">Home Decoration</h5>
                <p class="card-text">Kichen&Dinning,Garden&Outdoors,Living room</p>
                <a href="#" class="card-link snap">Shop Now</a>
                </div>
            </div>
            <div class="card row-3 mx-2 catcolor6" style="width: 18rem;">
                <div class="card-body text-center">
                <h5 class="card-title">Home Care</h5>
                <p class="card-text">Pooja,Fragrance,Household Essentials</p>
                <a href="#" class="card-link snap">Shop Now</a>
                </div>
            </div>
            <div class="card row-3 mx-2 catcolor7" style="width: 18rem;">
                <div class="card-body text-center">
                <h5 class="card-title">Food</h5>
                <p class="card-text">Snacks,Deserts,Gourment Food</p>
                <a href="#" class="card-link snap">Shop Now</a>
                </div>
            </div>
                <div class="card row-3 mx-2 catcolor8" style="width: 18rem;">
                    <div class="card-body text-center">
                    <h5 class="card-title">Vegitables and Fruits</h5>
                    <p class="card-text">All your home need vegatables</p>
                    <a href="#" class="card-link snap">Shop Now</a>
                    </div>
                </div>
</div>
</div>
<div class="container text-center mt-5 mb-4">
    <div class="h2 font3">Our featured Products</div>
</div>
 <div class="container xyz">
    <div class="row pls">
     <div class="col-3 card abc x">
       
      <button style="color: black;background-color: rgb(138, 241, 138);;width: 30%;height:7%;font-size: 12px;">28% OFF</button>
    
      <br>
       <img src="../../assets/oil.jpg"  class="pic" >
       <div class="car">
         <h5 ><b>Rs 33</b></h5>
         <h5>Onion</h5>
         <h5 style="color: gray;">1 kg</h5>
         <div class="but">
         <button style="width: 100%;background-color: chocolate;border-color: chocolate;color:white">Add to Cart</button>
        </div>
                 <!-- <p>and Connect With The Best Candidates.”</p> -->
       </div>
     </div>
     <div class="col-3 card abc y">
      <button style="color: black;background-color: rgb(138, 241, 138);;width: 30%;height:7%;font-size: 12px;">10% OFF</button>
      <br>
         <img src="../../assets/potato.webp" class="pic" >
         <div class="car1">
          <h5 ><b>Rs 32</b></h5>
          <h5>Potato</h5>
          <h5 style="color: gray;">1 kg</h5>
          <div class="but">
          <button style="width: 100%;background-color: chocolate;border-color: chocolate;color:white">Add to Cart</button>
         </div>
         </div>
       </div>
       <div class="col-3 card abc z">
        <button style="color: black;background-color: rgb(138, 241, 138);;width: 30%;height:7%;font-size: 12px;">36% OFF</button>
        <br>
         <img src="../../assets/turmeric.jpg" class="pic" style="height: 140px;">
         <div class="car2">
          <h5 ><b>Rs 27</b></h5>
          <h5>Turmeric powder</h5>
          <h5 style="color: gray;">1 kg</h5>
          <div class="but">
          <button style="width: 100%;background-color: chocolate;border-color: chocolate;color:white">Add to Cart</button>
         </div>
         </div>
       </div>
       <div class="col-3 card abc z">
        <button style="color: black;background-color: rgb(138, 241, 138);;width: 30%;height:7%;font-size: 12px;">8% OFF</button>
        <br>
         <img src="../../assets/butter.webp" class="pic" >
         <div class="car2">
          <h5 ><b>Rs 235</b></h5>
          <h5>Butter</h5>
          <h5 style="color: gray;">500 g</h5>
          <div class="but">
          <button style="width: 100%;background-color: chocolate;border-color: chocolate;color:white">Add to Cart</button>
         </div>
         </div>
       </div>
       </div>
       <div class="row pls1">
        <div class="col-3 card abc x1">
          <button style="color: black;background-color: rgb(138, 241, 138);;width: 30%;height:7%;font-size: 12px;">36% OFF</button>
          <br>
          <img src="../../assets/badam.webp"  class="pic" >
          <div class="car">
            <h5 ><b>Rs 156</b></h5>
         <h5>Almonds(Badam)</h5>
         <h5 style="color: gray;">200 g</h5>
         <div class="but">
         <button style="width: 100%;background-color: chocolate;border-color: chocolate;color:white">Add to Cart</button>
        </div>
          </div>
        </div>
        <div class="col-3 card abc y1">
          <button style="color: black;background-color: rgb(138, 241, 138);;width: 30%;height:7%;font-size: 12px;">15% OFF</button>
         <br>
            <img src="../../assets/foroil.webp" class="pic" >
            <div class="car1">
              <h5 ><b>Rs 110</b></h5>
         <h5>Oil</h5>
         <h5 style="color: gray;">1 L</h5>
         <div class="but">
         <button style="width: 100%;background-color: chocolate;border-color: chocolate;color:white">Add to Cart</button>
        </div>
            </div>
          </div>
          <div class="col-3 card abc z1">
           <button style="color: black;background-color: rgb(138, 241, 138);;width: 30%;height:7%;font-size: 12px;">13% OFF</button>
           <br>
            <img src="../../assets/tea.webp" class="pic" >
            <div class="car2">
              <h5 ><b>Rs 179</b></h5>
         <h5>Tea Powder</h5>
         <h5 style="color: gray;">1 kg</h5>
         <div class="but">
         <button style="width: 100%;background-color: chocolate;border-color: chocolate;color:white">Add to Cart</button>
        </div>
            </div>
          </div>
          <div class="col-3 card abc z1">
            <button style="color: black;background-color: rgb(138, 241, 138);;width: 30%;height:7%;font-size: 12px;">30% OFF</button>
            <br>
             <img src="../../assets/chilli.webp" class="pic" style="height: 140px;">
             <div class="car2">
              <h5 ><b>Rs 124</b></h5>
              <h5>Chilli Powder</h5>
              <h5 style="color: gray;">500 g</h5>
              <div class="but">
              <button style="width: 100%;background-color: chocolate;border-color: chocolate;color:white">Add to Cart</button>
             </div>
             </div>
           </div>
          </div>
     </div>
  
     
<!-- showing our wide spreads -->

<div class="containern text-center my-3">
    <div class="h2 font3">About Company Users</div>
    <button (click)="timer()" class="btn" >And adding</button>
</div>



<div class="container mt-5">
    <div class="row">
            <div class="card mx-2 col bginfo" style="width: 18rem;">
                <div class="card-body text-center">
                <h5 class="card-title">{{customerscount}}+</h5>
                <p class="card-text">Hetroginous Product</p>
                </div>
            </div>
            <div class="vl"></div>
            <div class="card mx-2 col bginfo" style="width: 18rem;">
                <div class="card-body text-center">
                <h5 class="card-title">{{customerscount}}+</h5>
                <p class="card-text">Passionate Sellers</p>
                </div>
            </div>
            <div class="vl"></div>
            <div class="card mx-2 col bginfo" style="width: 18rem;">
                <div class="card-body text-center">
                <h5 class="card-title">{{customerscount}}+</h5>
                <p class="card-text">Families Employeed</p>
                </div>
            </div>
    </div>
</div>

<!-- buy by brand  -->


<div class="container text-center mt-5 mb-4">
    <div class="h2 font3">Shop By Places</div>
</div>


<div class="container my-5">
    <div class="col categories">
             <div class="card row-3 mx-2 place1" style="width: 18rem;">
                 <div class="card-body text-center">
                 <h5 class="card-title">Hyderabad</h5>
                 </div>
             </div>
             <div class="card row-3 mx-2 place2" style="width: 18rem;">
                 <div class="card-body text-center">
                 <h5 class="card-title">Delhi</h5>
                 </div>
             </div>
             <div class="card row-3 mx-2 place3" style="width: 18rem;">
                 <div class="card-body text-center">
                 <h5 class="card-title">Shimla</h5>
                 </div>
             </div>
                 <div class="card row-3 mx-2 place4" style="width: 18rem;">
                     <div class="card-body text-center">
                     <h5 class="card-title">Bengaluru</h5>
                     </div>
                 </div>
 
    </div>
    <!-- second line of categories -->
    <div class="col categories mt-3">
             <div class="card row-3 mx-2 place5" style="width: 18rem;">
                 <div class="card-body text-center">
                 <h5 class="card-title">Mumbai</h5>
                 </div>
             </div>
             <div class="card row-3 mx-2 place6" style="width: 18rem;">
                 <div class="card-body text-center">
                 <h5 class="card-title">Jaipur</h5>
                 </div>
             </div>
             <div class="card row-3 mx-2 place7" style="width: 18rem;">
                 <div class="card-body text-center">
                 <h5 class="card-title">Srinagar</h5>
                 </div>
             </div>
                 <div class="card row-3 mx-2 place8" style="width: 18rem;">
                     <div class="card-body text-center">
                     <h5 class="card-title">And More..</h5>
                     </div>
                 </div>
 </div>
 </div>
 
  
<div class="x">
 
<hr size="40" class="my-4">

<!-- news letter and conclusion -->

<div class="container my-5">
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="email" placeholder="Enter email For Updates" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="background-color: rgb(138, 241, 138);color: black;border-radius: 4px;border-color: rgb(138, 241, 138);;">Sign In</button>
      </form>
</div>


<!-- learn aout us -->

<div class="containern mt-3 subscribe">
    <div class="h4 ml-5 font2">Want to Know about us More</div>
    <a class="btn knowmore ml-5 font1" routerLink="/aboutus" (click)="testMe()" target="_blank">What are you waiting for</a>
</div>




<div class="container mt-5">
    <div class="row">
            <div class="card mx-2 col borderline" style="width: 18rem;">
                <div class="card-body text-left">
                <h6 class="card-title font1">Get us More</h6>
                <p class="card-text font">Our Company</p>
                <p class="card-text font">Digital Mueseum</p>
                <p class="card-text font">Our Suppliers</p>
                <p class="card-text font">Sell On Countryman.com</p>
                <p class="card-text font">Advertice with us</p>
                <p class="card-text font">Careers</p>
                </div>
            </div>
            <div class="card mx-2 col borderline" style="width: 18rem;">
                <div class="card-body text-left">
                <h6 class="card-title font1">Countryman Services</h6>
                <p class="card-text font">Grocey Pickup & Delivert</p>
                <p class="card-text font">MoneyCenter</p>
                <p class="card-text font">Countryman Credit Card</p>
                <p class="card-text font">Countryman Pay</p>
                <p class="card-text font">Weekly Ad</p>
                <p class="card-text font">Other Services</p>
                </div>
            </div>
            <div class="card mx-2 col borderline" style="width: 18rem;">
                <div class="card-body text-left">
                <h6 class="card-title font1">Countryman.com</h6>
                <p class="card-text font">Countryman Labs</p>
                <p class="card-text font">Terms of Use</p>
                <p class="card-text font">Privacy & Security</p>
                <p class="card-text font">CA Privacy Rights</p>
                <p class="card-text font">Donot sell my personal information</p>
                <p class="card-text font">Request My personal Information</p>
                </div>
            </div>

    </div>
</div>

<!-- ending -->

<hr class="mt-2 mb-2" size="200">

<div class="container">
    <div class="row">
        <p class="mt-1 col font">© 2020 Countryman. All Rights Reserved.</p>
        <p class="moving col font">To ensure we are able to help you as best we can, please include your reference number: QASJ6UMV7Q</p>
    </div>
</div>
</div>