<!-- <div class="wapper d-flex align-items-stretch " style="margin-top: 80px;">
    <app-account></app-account>
   
    <div id="content " style="padding-left: 40%;padding-top: 10%;">

        
        
            <img src="../../assets/emptycart.png" >
        
        <div class="row" >
            <h5 >You have not placed any order with us yet</h5>
        </div>
        <div class="row">
            <h6 style="color: gray;">Let’s get you started
            </h6>
        </div>
        <div class="row" >
            <button style="background-color: chocolate;cursor: pointer;border-color: chocolate;color: white;" routerLink="/home" routerLinkActive="active">Start Shoppimg</button>
        </div> 
            
    </div>
    
</div>


 -->
 <div class="wapper d-flex align-items-stretch " style="margin-top: 80px;">
    <app-account></app-account>
   
    <div id="content ">

        
        
            <img src="../../assets/emptycart.png" >
        
        <div class="row" style="padding: 0 0 0 20%;">
            <h5 >You have not placed any order with us yet</h5>
        </div>
        <div class="row" style="padding: 0 0 0 27%;">
            <h6 style="color: gray;">Let’s get you started
            </h6>
        </div>
        <div class="row" style="padding: 1% 0 0 40%;">
            <button style="background-color: chocolate;cursor: pointer;border-color: chocolate;color: white;" routerLink="/home" routerLinkActive="active">Start Shoppimg</button>
        </div> 
            
    </div>
    
</div>

