<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="../../assets/mantransform.gif"  alt="" class="rounded float-right mr-5 mt-4">
        </div>
     
            <div class="col-6 contentmove">
                <blockquote class="blockquote text-right col  float-left">
                     <div class="row">
                        <div class="col">
                            <h4 class="mx-auto font-weight-bolder  text-left font3">The Shop for Good Things</h4>
                                <p class="mx-auto font-weight-bolder  text-left font2">
                                            Man Evolution changed in terms of <br>
                                            Living why to eat a syntatic <br>
                                            eat organic and stay healty <br>
                                </p>
                        </div>
                        <div class="vl"></div>
                        <p class="mx-auto mt-4 font-weight-bolder col text-left font2">
                            We didn't Bring chnages in way you buy <br>
                            But brought in the place or platform <br>
                            you buy to make you healty
                         </p>
                     </div>
                </blockquote>
                <button class="btn ml-3">Shop Now</button>
                <h4 class="font-weight-bolder text-left font3 ml-3 mt-5">We hire people to become Mercents</h4>
                <button class="btn font1 ml-3 mt-2">Sell With Us</button>
            </div> 
    </div>

</div>

<!-- department for why to choose us -->

<div class="container mt-2 cardmove">
    <div class="h3 font3 text-center mt-5">Why to sell with us?</div>

    <div class="row cardmove mt-2">
                <!-- card 1 -->
    
                <div class="card  mx-4 mt-5 col cards" style="width: 30rem;">
                    <img src="../../assets/sellers.png" class="card-img-top cardsall" alt="...">
                    <div class="card-body">
                    <h5 class="card-title font2">Seller Profiting</h5>
                    <p class="card-text font1">Dedicated Seller Page</p>
                    <p class="card-text font1">Brand Story Narration</p>
                    <p class="card-text font1">Professional Product</p>
                    </div>
                </div>
                <!-- card 2 -->
    
                <div class="card  mx-4 mt-5 col cards" style="width: 30rem;">
                    <img src="../../assets/shottested.jpg" class="card-img-top cardsall" alt="...">
                    <div class="card-body">
                    <h5 class="card-title font2">Targeted Customers</h5>
                    <p class="card-text font1">Looking for Natural & Sustainable Products</p>
                    <p class="card-text font1">All ages are allowed Years</p>
                    <p class="card-text font1">60% of Female Audience</p>
                    <p class="card-text font1">High Repeat-Purchase Rate</p>
                    </div>
                </div>
                <!-- card 3 -->
    
                <div class="card  mx-4 mt-5 col cards" style="width: 30rem;">
                    <img src="../../assets/rewards.png" class="card-img-top cardsall" alt="...">
                    <div class="card-body">
                    <h5 class="card-title font2">Rewarding Relationships</h5>
                    <p class="card-text font1">On-time payments</p>
                    <p class="card-text font1">Technology to Manage Product Listing and Orders</p>
                    <p class="card-text font1">Dedicated Seller Care Team</p>
                    </div>
                </div>
    
    </div>
    </div>



<!-- about transportation -->
    <div class="container mt-5">
        <div class="row">
                <div class="h3 font3 col-2 mt-3">Transportation &
                                      services
                </div>
                <div class="tr"></div>

                <p class="font2 col-4  text-bold mt-3 textmove">We had wide range of transport facility  <br>
                                so you no longer needed to be worried <br>
                                we always be on the time and           <br>
                                as organic food needed to be in preserve <br>
                </p>
                <!-- row two -->
                <div class="h3 font3 col-2 mt-5">Customer 
                      care

                </div>
                <div class="tr"></div>
                <p class="font2 col-3  text-bold mt-3 textmove1">Customer is our first priorty and for all <br>
                            we always say in connect with you <br>
                            when you need us          <br>
                </p>
        </div>
    </div>

 <hr size="40px" class="my-5">

 <!-- what to sell -->
    <div class="container mt-5">
        <div class="h3 font3 mt-3 text-center">What Products can you sell</div>
        <div class="row">
            <div class="card  mx-4 mt-5 col cards" style="width: 30rem;">
                <img src="../../assets/natureearth.jpg" class="card-img-top cardsall" alt="...">
                <div class="card-body">
                <p class="card-title text-center font2">Enviromental friendly</p>
                </div>
            </div>
            <!-- card 2 -->
            <div class="card  mx-4 mt-5 col cards" style="width: 30rem;">
                <img src="../../assets/reusable.png" class="card-img-top cardsall" alt="...">
                <div class="card-body">
                <p class="card-title text-center font2">Products with passion</p>
                </div>
            </div>
            <!-- card 3 -->
            <div class="card  mx-4 mt-5 col cards" style="width: 30rem;">
                <img src="../../assets/sustainable.jpg" class="card-img-top cardsall" alt="...">
                <div class="card-body">
                <p class="card-title text-center font2">Natural & Sustainable</p>
                </div>
            </div>
            <!-- card 4 -->
            <div class="card  mx-4 mt-5 col cards" style="width: 30rem;">
                <img src="../../assets/chemical-free.jpg" class="card-img-top cardsall" alt="...">
                <div class="card-body">
                <p class="card-title text-center font2">Chemical-free</p>
                </div>
            </div>
        </div>
    </div>

    <!-- sell with us registration -->

    <div class="container text-center mt-5" style="width: 30rem;background-color: #E3E3E5;">
      <h3 class="font3">Sell with us Registration Form</h3>
        <h4 class="text-center">Basic Info</h4>
        <form style="background-color: #E3E3E5;">
           <div class="form-group col-md">
             <label for="exampleInputEmail1">First Name</label>
             <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter first name">
           </div>
           <div class="form-group mx-sm-3">
             <label for="exampleInputPassword1">Last Name</label>
             <input type="text" class="form-control" placeholder="Enter last name">
           </div>
           <div class="form-group mx-sm-3">
             <label for="exampleInputPassword1">Company Name</label>
             <input type="text" class="form-control" placeholder="Enter Company Name">
           </div>
           <div class="form-check">
             <input type="checkbox" class="form-check-input" id="exampleCheck1" style="background-color: white;">
             <label class="form-check-label" for="exampleCheck1">I agree all terms and conditions</label>
           </div>
           <button type="submit" class="btn btn-primary float-right">Next</button>
         </form>
</div>

<!-- most frequently asked questions -->

<div class="container questions">
   <h3 class="font3 mb-3 text-center">frequently Asked Questions</h3>
       <div class="card">
         <div class="card-header" id="headingOne">
           <h5 class="mb-0">
             <button class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
               How does Countryman work?
             </button>
           </h5>
         </div>
     
         <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
           <div class="card-body">
               At Countryman, we follow the Drop-Ship model. A customer logs onto the Countryman application and places an order for desired products. Once an order is placed, our logistics partner will arrive at the seller's location and pick the product and deliver it to the customer.
           </div>
         </div>
       </div>
       <div class="card">
         <div class="card-header" id="headingTwo">
           <h5 class="mb-0">
             <button class="btn collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
               What are the pre-conditions to become a Seller on Countryman?
             </button>
           </h5>
         </div>
         <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
           <div class="card-body">
               The most important condition for selling on Countryman.com is that your products should be free from harmful chemicals and/or artificial preservatives. They can be all natural; organic; and handmade. From a more business sense, you’d need the following documentation:
           </div>
         </div>
       </div>
       <div class="card">
         <div class="card-header" id="headingThree">
           <h5 class="mb-0">
             <button class="btn collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
               How do you shortlist a Seller?
             </button>
           </h5>
         </div>
         <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
           <div class="card-body">
               We have a Lead Research Guideline document that contains several parameters based on which we rate each vendor. When a vendor meets the parameters of this guideline document, our Sales team approves a seller and sends a confirmation mail. Parameters are based on 
         </div>
       </div>
</div>


<!-- at final -->

<hr size="40" class="my-4">

<!-- news letter and conclusion -->

<div class="container my-5">
<div class="row">

 <form class="form-inline col">
   <input class="form-control mr-sm-2" type="email" placeholder="Enter emial For Updates" aria-label="Search">
   <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="background-color: rgb(1, 8, 8);color: white;border-radius: 4px;">Sign In</button>
 </form>
 
   <h3 class="font3 col text-right mt-3 float">Connect with us?</h3>

   <div class="samerow mt-3 col">
       <img src="../../assets/instagram-logo.png" alt="" class="samesize">
       <img src="../../assets/LinkedIn-128.webp" alt="" class="samesize">
       <img src="../../assets/facebook-official-512.webp" alt="" class="samesize">
       <img src="../../assets/twittter.png" alt="" class="samesize">
   </div>
</div>
</div>

<!-- coclusion -->

<div class="container mt-5">
<div class="row">
       <div class="card mx-2 col borderline" style="width: 18rem;">
           <div class="card-body text-left">
           <h6 class="card-title font1">Get us More</h6>
           <p class="card-text font">Our Company</p>
           <p class="card-text font">Digital Mueseum</p>
           <p class="card-text font">Our Suppliers</p>
           <p class="card-text font">Sell On Countryman.com</p>
           <p class="card-text font">Advertice with us</p>
           <p class="card-text font">Careers</p>
           </div>
       </div>
       <div class="card mx-2 col borderline" style="width: 18rem;">
           <div class="card-body text-left">
           <h6 class="card-title font1">Countryman Services</h6>
           <p class="card-text font">Grocey Pickup & Delivert</p>
           <p class="card-text font">MoneyCenter</p>
           <p class="card-text font">Countryman Credit Card</p>
           <p class="card-text font">Countryman Pay</p>
           <p class="card-text font">Weekly Ad</p>
           <p class="card-text font">Other Services</p>
           </div>
       </div>
       <div class="card mx-2 col borderline" style="width: 18rem;">
           <div class="card-body text-left">
           <h6 class="card-title font1">Countryman.com</h6>
           <p class="card-text font">Countryman Labs</p>
           <p class="card-text font">Terms of Use</p>
           <p class="card-text font">Privacy & Security</p>
           <p class="card-text font">CA Privacy Rights</p>
           <p class="card-text font">Donot sell my personal information</p>
           <p class="card-text font">Request My personal Information</p>
           </div>
       </div>

</div>
</div>

<!-- ending -->

<hr class="mt-2 mb-2" size="200">

<div class="container">
<div class="row">
   <p class="mt-1 col font">© 2020 Countryman. All Rights Reserved.</p>
   <p class="moving col font">To ensure we are able to help you as best we can, please include your reference number: QASJ6UMV7Q</p>
</div>
</div>