
<div class="wapper d-flex align-items-stretch " style="margin-top: 80px;">
    <app-account></app-account>
   
    <div id="content ">
        <div class="row">
            <img src="../../assets/address.png" style="padding: 0 0 0 25%;">
        </div>
        <div class="row" style="padding: 0 0 0 20%;">
            <h5 >You have no saved addresses</h5>
        </div>
        <div class="row" style="padding: 0 0 0 25%;">
            <h6 style="color: gray;">Tell us where you want your orders delivered</h6>
        </div>
        <div class="row" style="padding: 1% 0 0 40%;">
            <button style="background-color: chocolate;cursor: pointer;border-color: chocolate;color: white;" routerLink="/form" routerLinkActive="active" >Add New Address</button>
        </div> 
        
    </div>
 
</div>




