<div class="container">
    <div class="row">
        <img src="../../assets/errorpage2img.jpg" class="col">
        <div class="col move">
            <h3 class="font3">Oops We think you had navigated 
                to wrong place
            </h3>
            <h4 class="font2">We will help you to navigate 
                            to right place 
            </h4>
            <h4 class="font2">places you can navigate</h4>
            <h5 class="font1">1.home</h5>
            <h5 class="font1">2.about us</h5>
            <button class="btn button mt-2" [routerLink]="['/home']" >Back to Home</button>            
        </div>
    </div>
</div>
