<div class="container mt-5" style="padding-top: 70px;">
    <div class="maincon mt-2 font5" style="text-align: center;">
    <p class="font3" style="color: black;">My Cart({{this.o}})</p>
    </div>
    
    <div class="subcon font5">
        Buying from countryman is safe.Your order will be processed on our secure servers.
    </div>
    <div class="container  mt-5 mb-4 font5">

        <div class="row"><div class="col-md-1.5 font"><button style="color: rgb(33, 230, 43);padding: 5px;border-radius: 5px;" routerLink="/cat" routerLinkActive="active">continue shoping</button></div>
         <div class="col-md-5 s font5">Not your shoping cart?<a style="color: rgb(108, 122, 245);">Remove Items and logout</a></div>
         <div class="col-md-5 font" style="float: right;"><button style="color: cornsilk;background-color: crimson;padding: 7px;border-radius: 4px;" >Proceed to Checkout   <i class="fa fa-shopping-cart"></i></button></div>
        </div>
    </div>    
        <br>
        <div *ngIf="!val">
            <div class="row" style="align-items: center;">
                <div class="col-lg-4 col-md-4 col-sm-3"></div>
                <div class="col-lg-4 col-md-6 col-sm-7 col-12">
                <div class="card mt-2 mb-5 " style="border: none;padding-top: 0px;"><img src="../../assets/cart.png" ></div>
                </div>
            </div>
       
            <div class="row " style="padding-top: 0px;" >
                <div class="col-lg-5 col-md-5 col-sm-4 col-4"></div>
                <div class="col-lg-4 col-md-6 col-sm-7 col-8 font" style="padding-left:30px">
                <button style="background-color: rgb(241, 112, 20);;cursor: pointer;border-color: chocolate;color: white;"  routerLink="/cat" routerLinkActive="active">Start Shopping</button>
        </div>
        </div>
    </div>
       <div *ngIf="val">
<div class="page" >
 
<table class="layout display responsive-table">
    <thead>
        <tr class=" font2">
            <th>S.NO</th>
            <th>ITEM</th>
            <th>ITEM PRICE</th>
            <th>QUANTITY</th>
            <th>PRICE</th>
           
        </tr>
    </thead>
    <tbody>
      
           
           <tr *ngFor="let data of cartarr;let i=index">
            <td class="organisationnumber font5">{{i+1}}</td>
            <td class="organisationname font5">
                <div class="row ">
                    <div class="col head "><img src="{{data.img}}" alt=""style="height:100px"></div>
                    <div class="col head " >
                        <b style="color: rgba(9, 23, 105, 0.952);">{{data.name}} Pack</b><br>
                        Quality:{{data.quant}}<br>
                        <!-- Quantity/pack:200gm<br> -->
                        <p style="color: rgb(8, 206, 25);">Avaliable in stock</p>
                    </div>
                </div>
            </td>
            <td class="mt-0">
                <div class=" head pdetail1"><b>Rs.{{data.cost}}</b><br><span style="font-size: 14px;">MRP:Rs.{{data.originalcost}}</span><br><span style="color: darkgreen;">Savings:{{data.offer}}</span></div>
            </td>
            <td>
                <div class=" head pdetail1">
                    <select  class="inc"name="select" #qun (change)="quality(qun.value,data.id,i)">
                        <option  selected>1</option>
                        <option *ngFor ="let i of [2,3,4,5]">{{i}}</option>
                    </select> <br>
                    <!-- <button class="btnup" (click)="quality(qun.value)">update</button><br> -->
                    <span (click)="addNew(i,data.id)" style="cursor: pointer;"><i class="fa fa-remove"></i> Remove item</span><br>
                    <span (click)="Changeheart(i,data.id)" style="cursor:pointer"><i class="{{data.carheart}}"></i> Favourites</span>
    
                </div>
            </td>
           <td>
            <div class=" head" >Rs.{{total[i]}}/-</div>
            </td>
           </tr>
           
    </tbody>

         <tfoot>
            
             <!-- <tr >
                    <td  colspan="4"style="text-align: right;font-size: 14px;">*ESTIMATED TAX TO BE COLLECTED:</td>
                   <td  colspan="1"style="text-align: center;">Rs.{{tax}}/-</td>
                
                
             </tr> -->
             <tr >
                    <td colspan="4" ><div class="price">TOTAL PRICE:</div></td>
                    <td  colspan="1"><div class=" head" >Rs.{{priceTotal}}/-</div></td>
                    
                
             </tr>
           
         </tfoot>  
   

</table>
</div>
</div> 
    

    <div class="container  mt-5">
        <div class="h3 font3" style="color: rgb(102, 7, 78); margin-left: 10%;">Shop By Places
            <hr style= "  width: 80%; align-items:left;height:1.75px;background-color: rgba(0, 0, 0);margin-top: -2px;">
    </div>
    </div>
    <div class="container text-center mt-5 mb-4">
        <div class="row mx-3">
            <div class="col-lg-3 col-md-4 col-sm-6 card cards my-2"><img src="../../assets/Hyderabad1.jpg" class="card-img-top cardsall" style="height: 105px;" alt=""><div class="card-body"><h2 class="card-title font2">HYDERABAD</h2> </div></div>
            <div class="col-lg-3 col-md-4 col-sm-6 card cards my-2"><img src="../../assets/srinagar.jpg"   class="card-img-top cardsall" style="height: 105px;" alt=""><div class="card-body"><h2 class="card-title font2">SRINAGAR </h2> </div></div>
            <div class="col-lg-3 col-md-4 col-sm-6 card cards my-2"><img src="../../assets/delhi.jpg"      class="card-img-top cardsall" style="height: 105px;" alt=""><div class="card-body"><h2 class="card-title font2">DELHI    </h2> </div> </div>
            <div class="col-lg-3 col-md-4 col-sm-6 card cards my-2"><img src="../../assets/mumbai.webp"      class="card-img-top cardsall" style="height: 105px;" alt=""><div class="card-body"><h2 class="card-title font2">MUMBAI    </h2> </div></div>
            <div class="col-lg-3 col-md-4 col-sm-6 card cards my-2"><img src="../../assets/bengaluru1.jpg" class="card-img-top cardsall" style="height: 105px;" alt=""><div class="card-body"><h2 class="card-title font2">BENGALUR </h2> </div></div>
            <div class="col-lg-3 col-md-4 col-sm-6 card cards my-2"><img src="../../assets/jaipur.jpg"     class="card-img-top cardsall" style="height: 105px;" alt=""><div class="card-body"><h2 class="card-title font2">JAIPUR   </h2> </div> </div>
            <div class="col-lg-3 col-md-4 col-sm-6 card cards my-2"><img src="../../assets/shimla.webp"    class="card-img-top cardsall" style="height: 105px;" alt=""><div class="card-body"><h2 class="card-title font2"> SHIMLA  </h2> </div> </div>
            <div class="col-lg-3 col-md-4 col-sm-6 card cards my-2"><img src="../../assets/india.jpg"    class="card-img-top cardsall" style="height: 105px;" alt=""><div class="card-body"><h2 class="card-title font2"> AND MORE..  </h2></div> </div>

        </div>
    </div>
    

    <div class="container  mt-5">
        <div class="h3 font3" style="color: rgb(102, 7, 78); margin-left: 10%;">Shop By categories
            <hr style= "  width: 80%; align-items:left;height:1.75px;background-color: rgba(0, 0, 0);margin-top: -2px;">
    </div>
    </div>
    <div class="container text-center mt-5 mb-4">
        <div class="row mx-3">
            <div class="col-lg-3 col-md-4 col-sm-6 card cards my-2"><img src="../../assets/dried-fruits-1.jpg" class="card-img-top cardsall" style="height: 105px;" alt=""><div class="card-body"><h2 class="card-title font2">DRYFRUITS</h2> </div></div>
            <div class="col-lg-3 col-md-4 col-sm-6 card cards my-2"><img src="../../assets/homecare.jpg"   class="card-img-top cardsall" style="height: 105px;" alt=""><div class="card-body"><h2 class="card-title font2">HOMECARE </h2> </div></div>
            <div class="col-lg-3 col-md-4 col-sm-6 card cards my-2"><img src="../../assets/homedecoration.jpg"      class="card-img-top cardsall" style="height: 105px;" alt=""><div class="card-body"><h2 class="card-title font2">HOMEDECORS    </h2> </div> </div>
            <div class="col-lg-3 col-md-4 col-sm-6 card cards my-2"><img src="../../assets/immunity.jpg"      class="card-img-top cardsall" style="height: 105px;" alt=""><div class="card-body"><h2 class="card-title font2">IMMUNITYBOOSTERS    </h2> </div></div>
            <div class="col-lg-3 col-md-4 col-sm-6 card cards my-2"><img src="../../assets/fruits and vegitables.jpg" class="card-img-top cardsall" style="height: 105px;" alt=""><div class="card-body"><h2 class="card-title font2">FRUITS </h2> </div></div>
            <div class="col-lg-3 col-md-4 col-sm-6 card cards my-2"><img src="../../assets/organic-oils.jpg"     class="card-img-top cardsall" style="height: 105px;" alt=""><div class="card-body"><h2 class="card-title font2">ORGANICOILS   </h2> </div> </div>
            <div class="col-lg-3 col-md-4 col-sm-6 card cards my-2"><img src="../../assets/beverages.jpg"    class="card-img-top cardsall" style="height: 105px;" alt=""><div class="card-body"><h2 class="card-title font2"> BEVERAGES  </h2> </div> </div>
            <div class="col-lg-3 col-md-4 col-sm-6 card cards my-2"><img src="../../assets/organic-snack.jpg"    class="card-img-top cardsall" style="height: 105px;" alt=""><div class="card-body"><h2 class="card-title font2"> SNACKS  </h2></div> </div>

        </div>
    </div>

    <div class="container  mt-5 mb-4">
    <div class="row">
    <div class="col-md-6 my-2"style="display:flex"><button style="color: rgb(33, 230, 43);padding: 5px;border-radius: 5px;" routerLink="/ma" routerLinkActive="active">continue shoping</button><div class="font1" style="margin-top:20px;">For more advantages..</div></div>
    <div class="col-md-6  " style="float: right;"><button style="color: cornsilk;background-color: crimson;padding: 7px;border-radius: 4px;" >Proceed to Checkout   <i class="fa fa-shopping-cart"></i></button></div>
   </div>
</div>
<hr size="40" class="my-4" >



   <div class="container text-center mt-5 mb-4">
    <div class="font1" style=" text-align: right; font-weight: bolder;">
      Have questions? The countryMan Customer Loyality Team is happy to help!<br>
      Call 24 hours a day-365 days a year.
    </div>
   </div>
</div>