.maincon{
    color: rgb(11, 155, 238);
    font-size: 18px;
}
.subcon{
    font-size: 16px;

}
.s{
    font-size: 14px;
    padding-bottom: 0px;
}
.row{
    column-gap: 0px;
}
.head{
    font-size: 16px;
    /* display: center;
    text-justify: center; */
    text-align: center;
}
.cardsty{
    /* border: none; */
    box-shadow: black;
    width: 80%;
}
.pdetail{
    text-align: left;
}
.pdetail1{
    text-align: center;
}
.inc{width: 65px;
    height: 20px;
    border-radius: 3px;
align-items: center;}
.btnup{
    width: 85px;
    height: 25px;
    background-color: rgb(42, 204, 182);
    border-radius: 2px;
}
.pcon
{
    display: flex;

}
.item{
    position: relative;
    display: block;
    flex: 1 1 0px;
    transition: 500ms;
    margin-left: 10px;
    margin-right: 10px;
    /* transform: 500ms; */
}
 .item img{
    display: block;
    /* max-width: 100%; */
    width: 150px;
    height: 95px;
    position: relative;
    align-items: center;

}
/* .pcon:focus-within .item,.pcon:hover .item{transform: translateX(-25%);}
.item:focus~ .item,.item:hover~ .item{transform: translateX(25%);} */
/* .pcon .item:hover,.pcon .item:focus{transform: scale(1.25);z-index: 1;} */
.cards:hover, .cards:focus{transform: scale(1.2);z-index: 1;}
 .cards{border:none;}
.cardsall{
    width: 300;
    height: auto;
  }
.page{
  max-width: 60em;
  margin: 0 auto;
}
table th,
table td{
  text-align: center;
}
table.layout{
  width: 100%;
  border-collapse: collapse;
  /* border: none; */
}
table.display{
  margin: 1em 0;
}
table.display th,
table.display td{
  border: none;
  padding: .5em 1em;
}

table.display th{ background: #D5E0CC; }
table.display td{ background: #fff;}

table.responsive-table{
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}
/* table.display tfoot td:nth-child(n){background: sandybrown;} */
@media (max-width: 991px){
    table.responsive-table{
      box-shadow: none;  
    }
    table.responsive-table thead{
      display: none; 
    }
  table.display th,
  table.display td{
    padding: .5em;
  }
    
  table.responsive-table tbody td:nth-child(1):before{
    content: 'S.NO';
  }
  table.responsive-table tbody td:nth-child(2):before{
    content: 'ITEM';

  }
  table.responsive-table tbody td:nth-child(3):before{
    content: 'ITEM PRICE';
  }
  table.responsive-table tbody td:nth-child(4):before{
    content: 'QUANTITY';
  }
  table.responsive-table tbody td:nth-child(5):before{
    content: 'PRICE';
  } 
  /* table.responsive-table td:nth-child(1), */
  table.responsive-table td:nth-child(n){
    padding-left: 25%;
  }
  /* table.responsive-table td:nth-child(1):before, */
  table.responsive-table td:nth-child(n):before{
    position: absolute;
    left: .5em;
    font-weight: bolder;
  }
  
    table.responsive-table tr,
    table.responsive-table td{
        display: block;
    }
    table.responsive-table tr{
        position: relative;
        margin-bottom: 1em;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    }
    table.responsive-table td{
        border-top: none;
    }
    table.responsive-table td.organisationnumber{
        background: #D5E0CC;
        border-top: 1px solid #B3BFAA;
    }  
   /* table tfoot tr{display:flex;flex-direction: row;} */
  }

  .font{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

  }
  .font1{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

  }
  .font2{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
   font-weight: bolder;
   
  }
  .font3{
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  letter-spacing: 0.75px;
 text-transform: capitalize;
  }












