<app-account></app-account>
<div class="row">
    <img src="../../assets/wish.png" style="padding: 5% 0 0 40%;">
</div>
<div class="row" style="padding: 0 0 0 38%;">
    <h5 >It seems like you don't have any wishes here . Start adding!</h5>
</div>
<!-- <div class="row" style="padding: 0 0 0 37%;">
    <h6 style="color: gray;">Tell us where you want your orders delivered</h6>
</div> -->
<div class="row" style="padding: 1% 0 0 53%;">
    <button style="background-color: chocolate;cursor: pointer;border-color: chocolate;color: white;"  routerLink="/home" routerLinkActive="active">Add +</button>
</div> 
    
