.signin {border-radius: 12px;}

.space{
    justify-content: center;
    text-align: center;
}
/* .nav-item{
    padding: 10px;
} */
.pqrs
{
    padding-left: 500px;
}
.a:hover
{
background-color: green;
color: black;
}
.glyphicon.glyphicon-shopping-cart {
    font-size: 25px;
}
.signin {border-radius: 12px;}

.space{
    justify-content: center;
    text-align: center;
}
.gi-5x
{
    font-size: 5em;
}
