<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
    <div class="card mt-2 mb-2" style="border: none;font-weight: 600;font-family: poppin;font-size: 24px;margin-left: 30%;">YOUR FAVOURITE ITEMS</div>

<div class="card mt-4 mb-2" style="border: none;">
    <div class="row">
    <div class="col" style="font-family: behance;font-size: 16px;text-align: center;">Your wishlist has 2 items</div>
    <div class="col"><button class="btn  my-2 my-sm-0" style="background-color: crimson;color: whitesmoke;padding: 7px;border-radius: 4px;" routerLink="/ma" routerLinkActive="active">Continue Shopping</button></div></div>
</div>
<div class="card mt-2 mb-4" style="border: none;">
    <div class="row mt-5 mb-4">
        <div class="col-sm-1">
            <span style="font-weight: bolder;padding-left: 40%;">1.</span>
        </div>    
        <div class="col-sm-8">
          <div class="card0">
              <div class="row"><div class="col-sm-4">
           <div class="card card-1"><img src="../../assets/fruits.jpg" alt=""></div>
        </div><div class="col-sm-8"> 
           <div class="wishcon mt-5 mb-4">
               <div class="sline"><div class="head">ORANGES BOX</div><div class="love"><i class="fa fa-heart"></i></div></div>
               <div class="para">
                   <span>Price : Rs.30/-</span><br>
                   <span>MSRP : Rs.50/-</span><br>
                   <span>Discount : 40%</span><br>
                   <span>Quantity/pack : 1 dozon</span><br>
                   <span>Quality : <a style="background-color: rgb(53, 220, 20);color: wheat;"><i class="fa fa-star"></i>4.9</a></span>
               </div>
               <div class="prd-bottom">
                    <a href="" class="social-info">
                     <span class="fa fa-cart-plus"></span>
                     <p class="hover-text">add to bag</p>
                    </a>
                    <a href="" class="social-info">
                        <span class="fa fa-heartbeat"></span>
                        <p class="hover-text">in wishlist</p>
                    </a>
                    <a href="" class="social-info">
                     <span class="fa fa-plus-square-o"></span>
                     <p class="hover-text">view more</p>
                    </a>
                    <a href="" class="social-info">
                        <span class="fa fa-cart-arrow-down"></span>
                        <p class="hover-text">buy now</p>
                    </a>
                </div>
           </div>  
            </div></div>
          </div>
        </div>
    </div>


    <div class="row mt-5 mb-4">
        <div class="col-sm-1">
            <span style="font-weight: bolder;padding-left: 40%;">2.</span>
        </div>    
        <div class="col-sm-8">
          <div class="card0" style="background-color: rgb(240, 203, 148);">
              <div class="row"><div class="col-sm-4">
           <div class="card card-1"><img src="../../assets/fruits.jpg" alt=""></div>
        </div><div class="col-sm-8"> 
           <div class="wishcon mt-5 mb-4">
               <div class="sline"><div class="head">ORANGES BOX</div><div class="love"><i class="fa fa-heart"></i></div></div>
               <div class="para">
                   <span>Price : Rs.30/-</span><br>
                   <span>MSRP : Rs.50/-</span><br>
                   <span>Discount : 40%</span><br>
                   <span>Quantity/pack : 1 dozon</span><br>
                   <span>Quality : <a style="background-color: rgb(53, 220, 20);color: wheat;"><i class="fa fa-star"></i>4.9</a></span>
               </div>
               <div class="prd-bottom">
                    <a href="" class="social-info">
                     <span class="fa fa-cart-plus"></span>
                     <p class="hover-text">add to bag</p>
                    </a>
                    <a href="" class="social-info">
                        <span class="fa fa-heartbeat"></span>
                        <p class="hover-text">in wishlist</p>
                    </a>
                    <a href="" class="social-info">
                     <span class="fa fa-plus-square-o"></span>
                     <p class="hover-text">view more</p>
                    </a>
                    <a href="" class="social-info">
                        <span class="fa fa-cart-arrow-down"></span>
                        <p class="hover-text">buy now</p>
                    </a>
                </div>
           </div>  
            </div></div>
          </div>
        </div>
    </div>



</div>
    <div class="card " style="border: none;">
<!-- <div class="card"><section class="front">front info</section><section class="back">back info</section></div> -->
    <div class="center" style="font-weight: bolder; font-family: poppin;font-size: 24px;"> Shop Through  Your Favourite Categories</div>
<div class="container  mt-5 mb-4">
   <div class="row">
   
       <div class="col"><div class="card1 card"><section class="front center"><img src="../../assets/organic-oils.jpg" alt=""></section>
        <section class="back center">ORGANIC OILS</section></div></div>
       <div class="col"><div class="card1 card"><section class="front center"><img src="../../assets/dried-fruits-1.jpg" alt=""></section>
        <section class="back center">DRY FRUITS</section></div></div>
       <div class="col"><div class="card1 card"><section class="front center"><img src="../../assets/homecare.jpg" alt=""></section>
        <section class="back center">HOME CAERES</section></div></div>
        <div class="col"><div class="card1 card"><section class="front center"><img src="../../assets/homedecoration.jpg" alt=""></section>
            <section class="back center">HOME PLANTS</section></div></div>
    </div>
</div>
    <div class="container  mt-3 mb-4">

    <div class="row">    
       <div class="col"><div class="card1 card"><section class="front center"><img src="../../assets/immunity.jpg" alt=""></section>
        <section class="back center">IMMUNITY BOOST</section></div></div>
       <div class="col"><div class="card1 card"><section class="front center"><img src="../../assets/homedecoration.jpg" alt=""></section>
        <section class="back center">HOME PLANTS</section></div></div>
       <div class="col"><div class="card1 card"><section class="front center"><img src="../../assets/fruits and vegitables.jpg" alt=""></section>
        <section class="back center">FRUITS & VEGETABLES</section></div></div>
        <div class="col"><div class="card1 card"><section class="front center"><img src="../../assets/dried-fruits-1.jpg" alt=""></section>
            <section class="back  center">DRY FRUITS</section></div></div>
   </div>
    </div>
</div>   




<div class="card " style="border: none;">
    <!-- <div class="card"><section class="front">front info</section><section class="back">back info</section></div> -->
        <div class="center" style="font-weight: bolder; font-family: poppin;font-size: 24px;"> Shop Through  Your Favourite Places</div>
    <div class="container  mt-5 mb-4">
       <div class="row">
       
           <div class="col"><div class="card1 card"><section class="front center"><img src="../../assets/bengaluru.webp" alt=""></section>
            <section class="back center">BENGALURU</section></div></div>
           <div class="col"><div class="card1 card"><section class="front center"><img src="../../assets/jaipur.jpg" alt=""></section>
            <section class="back center">JAIPUR</section></div></div>
           <div class="col"><div class="card1 card"><section class="front center"><img src="../../assets/shimla.webp" alt=""></section>
            <section class="back center">SHIMLA</section></div></div>
            <div class="col"><div class="card1 card"><section class="front center"><img src="../../assets/delhi1.jfif" alt=""></section>
                <section class="back center">DELHI</section></div></div>
        </div>
    </div>
        <div class="container  mt-3 mb-4">
    
        <div class="row">    
           <div class="col"><div class="card1 card"><section class="front center"><img src="../../assets/mumbai.webp" alt=""></section>
            <section class="back center">MUMBAI</section></div></div>
           <div class="col"><div class="card1 card"><section class="front center"><img src="../../assets/delhi.jpg" alt=""></section>
            <section class="back center">DELHI</section></div></div>
           <div class="col"><div class="card1 card"><section class="front center"><img src="../../assets/srinagar.jpg" alt=""></section>
            <section class="back center">SRINAGAR</section></div></div>
            <div class="col"><div class="card1 card"><section class="front center"><img src="../../assets/jaipur.jpg" alt=""></section>
                <section class="back  center">JAIPUR</section></div></div>
       </div>
        </div>
    </div>   


<div class="container my-5">
    <button class="btn  my-2 my-sm-0" style="background-color: crimson;color: whitesmoke;padding: 7px;border-radius: 4px;" routerLink="/ma" routerLinkActive="active">Continue Shopping</button>
</div>
<hr>
<div class="mt-5 mb-4">
    <div class="row">
        <div class="col-5">
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="email" placeholder="Enter email For Updates" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="background-color: rgb(138, 241, 138);color: black;border-radius: 4px;border-color: rgb(138, 241, 138);;">Sign In</button>
        </form>
     </div>
    <div class="col "></div>
    <div class="col-6" style="font-size: 14px; text-align: right; font-weight: bolder;">
        Have questions? CountryMan Customer Loyality Team is happy to help!<br>
        Call 24 hours a day-365 days a year.
      </div>
   </div>

</div>

