.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: #111; */
    overflow-x: hidden;
    padding-top: 100px;
  }
  .main {
    margin-left: 300px; /* Same as the width of the sidenav */
    
  }