


.side {
    width: 270px;
    position: fixed;
    z-index: 1;
    top: 80px;
    /* left: 10px; */
    /* background: #eee; */
    /* overflow-x: hidden; */
    /* padding: 8px 0; */
  }
  
.wrapper {
    width: 100%;
}
#sidebar {
    min-width: 270px;
    max-width: 270px;
    background: #38b434;
    color: #fff;
    transition: all 0.3s;
    position: relative;
    z-index: 999;
   
    
}
#sidebar .h6 {
    color: white;
}
#sidebar.active {
    margin-left: -270px;
}
#sidebar h1 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
}
#sidebar h1 .logo {
    color: white;
    /* margin: auto 0;s */
    margin-left: 20%;
}
#sidebar h1 .logo span {
    font-size: 14px;
    color: #44bef1;
    display: block;
}
#sidebar  .logo1 {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto;}
#sidebar .logo1 span {
 
  display: block;
}
#sidebar ul.components {
    padding: 0;
}
#sidebar ul li {
    font-size: 16px;
}
#sidebar ul li > ul {
    margin-left: 10px;
}
#sidebar ul li > ul li {
    font-size: 14px;
}
#sidebar ul li a {
    padding: 10px 0;
    display: block;
    color:rgba(245, 245, 245, 0.952);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}
#sidebar ul li a span {
    color: rgb(138, 241, 138);
}
#sidebar ul li a:hover {
    text-decoration: none;
    color: white;

   
}
#sidebar ul li.active > a {
    background: transparent;
    color: white;
}
@media (max-width: 991px) {
    #sidebar {
        margin-left: -270px;
        position: relative;
   }
    #sidebar.active {
        margin-left: 0;
   }
}
#sidebar .custom-menu {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 0;
    margin-right: -20px;
}
#sidebar .custom-menu .btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    outline: none;
}
#sidebar .custom-menu .btn i {
    margin-right: -40px;
    font-size: 14px;
}
#sidebar .custom-menu .btn.btn-primary {
    background: transparent;
    border-color: transparent;
    
}
#sidebar .custom-menu .btn.btn-primary:after {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    transform: rotate(45deg);
    background: #38b434;
    border-radius: 10px;
}
#sidebar .custom-menu .btn.btn-primary:hover, #sidebar .custom-menu .btn.btn-primary:focus {
    background: transparent !important;
    border-color: transparent !important;
}
a[data-toggle="collapse"] {
    position: relative;
}
/* .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
} */
@media (max-width: 991px) {
    #sidebarCollapse span {
        display: none;
   }
}
#content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    transition: all 0.3s;
}
.btn.btn-primary {
    background: #38b434;
    border-color: #38b434;
}
.btn.btn-primary:hover, .btn.btn-primary:focus {
    background: #38b434 !important;
    border-color: #38b434 !important;
    outline: none;
}
.footer p {
    color: whitesmoke;
}
[type="file"] {
  border: 0;
  /* clip: rect(0, 0, 0, 0); */
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}
 
[type="file"] + label {
  background-color:rgb(138, 241, 138);
  width: 100px;
  height: 25px;
  margin-left: 65%;
  /* color: #fff; */
  border-radius:10px ;
  cursor: pointer;
  display: inline-block;
  padding: 0 4% 0 4% ;
}
  
[type="file"]:focus + label,
[type="file"] + label:hover {
    background-color: rgb(138, 241, 138);
}
  
[type="file"]:focus + label {
  outline: none;
}